.bgimage{
	background-image: url(../images/bg.jpg);
	background-position: center center;
	background-size: cover;
	height: 625px;
}

.icon{

	max-width: 150px;
	margin: 0 auto;
	display: block;
}

.services section{
	text-align: center;
}

.logo{
background-image: url(../images/logo.png);
height: 73px;
background-repeat: no-repeat;
margin: 0 20px;

}

